

# bhai new pipeline banana ha

trigger: none

pool: MARA PAHLA AGENT POOL

variables:
  config_path: '$(System.DefaultWorkingDirectory)/root'
  backend_svc: 'workload identity federation'

parameters: 
- name: runInit
  displayName: "Run Terraform Init"
  type: boolean
  default: false

- name: runPlan
  displayName: "Run Terraform Plan"
  type: boolean
  default: false

- name: runApply
  displayName: "Run Terraform Apply"
  type: boolean
  default: false

jobs:

# ---------------- INIT JOB ----------------
- job: Terraform_Init
  displayName: "Terraform Init Job"
  condition: eq('${{ parameters.runInit }}', true)
  steps:
  - task: TerraformInstaller@1
    displayName: terraform installer
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: $(config_path)
      backendServiceArm: $(backend_svc)
      backendAzureRmOverrideSubscriptionID: 'satya-rg1'
      backendAzureRmStorageAccountName: 'satyastorage6'
      backendAzureRmContainerName: 'satyacontainers'
      backendAzureRmKey: 'satya.tf'

# ---------------- PLAN JOB ----------------
- job: Terraform_Plan
  displayName: "Terraform Plan Job"
  dependsOn: Terraform_Init
  condition: eq('${{ parameters.runPlan }}', true)
  steps:
  - task: TerraformInstaller@1
    displayName: terraform installer
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: $(config_path)
      environmentServiceNameAzureRM: $(backend_svc)

# ---------------- APPLY JOB ----------------
- job: Terraform_Apply
  displayName: "Terraform Apply Job"
  dependsOn: Terraform_Plan
  condition: eq('${{ parameters.runApply }}', true)
  steps:
  - task: TerraformInstaller@1
    displayName: terraform installer
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform apply
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: $(config_path)
      commandOptions: '--auto-approve'
      environmentServiceNameAzureRM: $(backend_svc)




