# naya pipeline banana ha, assistant ke help se

trigger: none

pool: MARA PAHLA AGENT POOL


variables:
  config_path: '$(System.DefaultWorkingDirectory)/root'
  backend_svc: 'workload identity federation'

parameters:
- name: runInit
  displayName: "Terraform INIT chalana hai?"
  type: boolean
  default: true

- name: runValidate
  displayName: "Terraform VALIDATE chalana hai?"
  type: boolean
  default: true

- name: runPlan
  displayName: "Terraform PLAN chalana hai?"
  type: boolean
  default: true

- name: runApply
  displayName: "Terraform APPLY chalana hai?"
  type: boolean
  default: false

steps:

- task: PowerShell@2
  displayName: powershell 
  inputs:
    targetType: 'inline'
    script: 'Write-Host "Shree Shivay Namastubhyam"'

- task: TerraformInstaller@1
  displayName: terraform installer wa
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName: terraform initwa
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(config_path)'
    backendServiceArm: '$(backend_svc)'
    backendAzureRmResourceGroupName: 'saty-rg1'
    backendAzureRmStorageAccountName: 'satyastorage6'
    backendAzureRmContainerName: 'satyacontainers'
    backendAzureRmKey: 'satya.tf'

- task: TerraformTask@5
  displayName: terraform validatewa
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(backend_svc)'

- task: TerraformTask@5
  displayName: terraform planwa
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(config_path)'
    environmentServiceNameAzureRM: '$(backend_svc)'

- task: TerraformTask@5
  displayName: terraform show wa
  inputs:
    provider: 'azurerm'
    command: 'show'
    workingDirectory: '$(config_path)'
    outputTo: 'console'
    outputFormat: 'default'
    environmentServiceNameAzureRM: '$(backend_svc)'

- task: TerraformTask@5
  displayName: terraform apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(config_path)'
    environmentServiceNameAzureRM: '$(backend_svc)'