

# bhai new pipeline banana ha

trigger: none

pool: MARA PAHLA AGENT POOL

# You can specify variables at the pipeline, stage, or job level.

variables:

  config_path: '$(System.DefaultWorkingDirectory)/root'
  backend_svc: 'workload identity federation'


parameters: 
  - name: runinit
    displayName: "run terraform init"
    type: boolean
    default: false

  - name: runplan
    displayName: "run terraform plan"
    type: boolean
    default: false

  - name: runapply
    displayName: "run terraform apply"
    type: boolean
    default: false

steps:

- task: TerraformInstaller@1
  displayName: terraform installerwa

  inputs:
    terraformVersion: 'latest'


- ${{ if eq(parameters.runInit, true) }}:
  - task: TerraformTask@5
    displayName: terraform initwa
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: $(config_path)
      backendServiceArm: $(backend_svc)
      backendAzureRmOverrideSubscriptionID: 'satya-rg1'
      backendAzureRmStorageAccountName: 'satyastorage6'
      backendAzureRmContainerName: 'satyacontainers'
      backendAzureRmKey: 'satya.tf'


- ${{ if eq(parameters.runPlan, true) }}:
  - task: TerraformTask@5
    displayName: terraform planwa
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: $(config_path)
      environmentServiceNameAzureRM: $(backend_svc)

- ${{ if eq(parameters.runApply, true) }}:
  - task: TerraformTask@5
    displayName: terraform applywa
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: $(config_path)
      commandOptions: '--auto-approve'
      environmentServiceNameAzureRM: $(backend_svc)






