# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: 'MARA PAHLA AGENT POOL'

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      cd $(System.DefaultWorkingDirectory)/root
      terraform --version
      terraform init


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/root'
    environmentServiceNameAzureRM: 'workload identity federation'

