# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool: MARA PAHLA AGENT POOL

steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'write-Host "Hello World"'

- task: TerraformInstaller@1

  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/root'
    backendServiceArm: 'workload identity federation'
    backendAzureRmOverrideSubscriptionID: 'satya-rg1'
    backendAzureRmStorageAccountName: 'satyastorage6'
    backendAzureRmContainerName: 'satyacontainers'
    backendAzureRmKey: 'satya.tf'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/root'
    environmentServiceNameAzureRM: 'workload identity federation'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/root'
    commandOptions: '--auto-approve'
    environmentServiceNameAzureRM: 'workload identity federation'






